.myimg{
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:75%;
}
header.masthead {
  background-image: url("../images/background.jpg");
}
.btn-color {
  background-color: #F4A701;
}
.timeline > li .timeline-image {
  background-color: #F4A701;
  color: black;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  color: black;
}